@import "~normalize.css";
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}
