@import "~normalize.css";
@import "~antd/dist/antd.css";
@import "./style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

button,
input {
  outline: none;
}

body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}

.wrap_1100 {
  width: 1100px;
  margin: 0 auto;
}
.wrap_980 {
  width: 980px;
  margin: 0 auto;
}

.banner-arrows-sprite {
  background: url("../img/banner-arrows-sprite.png") no-repeat;
}

.cover-sprite {
  background: url("../img/cover-sprite.png") center no-repeat;
}

.download-sprite {
  background: url("../img/download-sprite.png") center no-repeat;
}

.footer-sprite {
  background: url("../img/footer-sprite.png") center no-repeat;
}

.topbar-sprite {
  background: url("../img/topbar-sprite.png") center no-repeat;
}

.foot-links-sprite {
  background: url("../img/footer-sprite.png") center no-repeat;
  background-size: 110px 552px;
}

.foot-links-text-sprite {
  background: url("../img/foot_enter_tt.png") center no-repeat;
  background-size: 180px 139px;
}
